extends ../layout

block content
  .container
    if survey.id
      h1.page-header 설문조사 수정
    else
      h1.page-header 설문조사 작성
    
    form(action = (survey.id) ? "/survey/#{survey.id}?_method=PUT" : "/survey", method='POST')
      .form-group
        input(type='hidden' name='listId' value='#{listId}')
      .form-group
        label(for='email') 이메일
        input.form-control(id='email', name='email' , placeholder='email', value=survey.email)
      .form-group
        label(for='title') 설문 주제
        input.form-control(type='text', id='title', name='title', placeholder='title', value=survey.title)
      .form-group
        label(for='content') 설문지 설명
        textarea.form-control(id='content', rows='10', name='content', placeholder='content here')= survey.content
      .form-group
        ol
          li
          input(type='text', id='selecttitle', name='selecttitle', placeholder='객관식 제목', value=survey.selecttitle)
          p
          input.select(type='radio', id='select', name='select',value='1')
          | 
          input(type='text', id='opinion', name='opinion', placeholder='의견')
          p
          input.select(type='radio', id='select', name='select', value='2')
          | 
          input(type='text', id='opinion', name='opinion', placeholder='의견')
          p
          input.select(type='radio', id='select', name='select', value='3')
          | 
          input(type='text', id='opinion', name='opinion', placeholder='의견')
          p
          input.select(type='radio', id='select', name='select', value='4')
          | 
          input(type='text', id='opinion', name='opinion', placeholder='의견')
          p
          input.select(type='radio', id='select', name='select', value='5')
          | 
          input(type='text', id='opinion', name='opinion', placeholder='기타')
          li
          input(type='text', id='selecttitle', name='selecttitle', placeholder='객관식 제목', value=survey.selecttitle)
          p
          input.select(type='radio', id='select', name='select',value='1')
          | 
          input(type='text', id='opinion', name='opinion', placeholder='의견')
          p
          input.select(type='radio', id='select', name='select', value='2')
          | 
          input(type='text', id='opinion', name='opinion', placeholder='의견')
          p
          input.select(type='radio', id='select', name='select', value='3')
          | 
          input(type='text', id='opinion', name='opinion', placeholder='의견')
          p
          input.select(type='radio', id='select', name='select', value='4')
          | 
          input(type='text', id='opinion', name='opinion', placeholder='의견')
          p
          input.select(type='radio', id='select', name='select', value='5')
          | 
          input(type='text', id='opinion', name='opinion', placeholder='기타')
          li
          input(type='text', id='selecttitle', name='selecttitle', placeholder='객관식 제목', value=survey.selecttitle)
          p
          input.select(type='radio', id='select', name='select',value='1')
          | 
          input(type='text', id='opinion', name='opinion', placeholder='의견')
          p
          input.select(type='radio', id='select', name='select', value='2')
          | 
          input(type='text', id='opinion', name='opinion', placeholder='의견')
          p
          input.select(type='radio', id='select', name='select', value='3')
          | 
          input(type='text', id='opinion', name='opinion', placeholder='의견')
          p
          input.select(type='radio', id='select', name='select', value='4')
          | 
          input(type='text', id='opinion', name='opinion', placeholder='의견')
          p
          input.select(type='radio', id='select', name='select', value='5')
          | 
          input(type='text', id='opinion', name='opinion', placeholder='기타')
          li
          input(type='text', id='selecttitle', name='selecttitle', placeholder='객관식 제목', value=survey.selecttitle)
          p
          input.select(type='radio', id='select', name='select',value='1')
          | 
          input(type='text', id='opinion', name='opinion', placeholder='의견')
          p
          input.select(type='radio', id='select', name='select', value='2')
          | 
          input(type='text', id='opinion', name='opinion', placeholder='의견')
          p
          input.select(type='radio', id='select', name='select', value='3')
          | 
          input(type='text', id='opinion', name='opinion', placeholder='의견')
          p
          input.select(type='radio', id='select', name='select', value='4')
          | 
          input(type='text', id='opinion', name='opinion', placeholder='의견')
          p
          input.select(type='radio', id='select', name='select', value='5')
          | 
          input(type='text', id='opinion', name='opinion', placeholder='기타')
          li
          input(type='text', id='texttitle', name='texttitle', placeholder='주관식 제목', value=survey.texttitle)
          p
          input.form-control(type='text', id='text', name='text', placeholder='주관식', value=survey.text)
          li
          input(type='text', id='longtexttitle', name='longtexttitle', placeholder='의견 제목', value=survey.longtexttitle)
          p
          textarea.form-control(id='longtext', rows='5', name='longtext', placeholder='긴 의견', value=survey.longtext)
          p
        
      div.form-actions
        a.btn.btn-default(href='javascript:window.history.back();') 뒤로
        |  
        button.btn.btn-primary(type='submit') 완료
        | 
        button.btn.btn-success(style='display:none' type='button') 전송중
        | 
        select.survey-options(name='options')
          option(value='객관식') 객관식
          option(value='텍스트') 텍스트
          option(value='단락텍스트') 단락 텍스트
          option(value='점수') 점수
        | 
        button.create.btn.btn-default(type='button') 추가
      
    script(type='text/javascript', src='/javascripts/Edit.js').
  
